@import "./bootstrap";

#AIChatAssistant_container {
    height: 0;
    max-height: calc(100% - 140px);
    padding: 0;
    width: 95%;
    background-color: var(--yt-live-chat-action-panel-background-color, var(--yt-deprecated-opalescence-soft-grey-opacity-lighten-3));
    overflow: hidden;
    text-align: center;

    &.open {
        height: 100%;
        overflow-y: auto;
        padding: 10px;
    }

    #AIChatAssistant_summary {
        max-height: 40%;
        overflow: auto;
        }

        .list-group-item {
            color: var(--yt-spec-text-primary);
            background-color: var(--yt-live-chat-action-panel-background-color, var(--yt-deprecated-opalescence-soft-grey-opacity-lighten-3));

            &:hover {
                background-color: var(--yt-live-chat-product-picker-hover-color);
            }
    }
}

#content {
    ytd-live-chat-frame#chat {
        height: calc(100vh - 100px);
    }
}